{% load static %}


<!doctype html>
<html>
  <head>
    <title>{{ recipe.object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a Recipe</a>
        </nav>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src = {{ recipe_object.picture }}>
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="greybox">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredients in recipe.object.Ingredients.all %}
                    <tr>
                        <td>{{ ingredients.amount  }}</td>
                        <td>{{ ingredients.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2> Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
    </header>
  </body>
</html>
