{% load static %}


<!doctype html>
<html>
  <head>
    <title>{{ recipe.object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    <main>
        <h1>Edit {{ recipe_object.id }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
          </form>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
    </header>
  </body>
</html>
