*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
}


main {
    padding: 50px;
}


.greybox tr:nth-child(even){
    background-color: lightgrey;

}

section {
    gap: 50px;
}

h1 {
    color:forestgreen
}


.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%
}


div {

    /* border: 1px solid black; */
    margin: 5px;
    padding: 5px;
    width: 200px;
}


div a {
    text-decoration: none;
    color:lightgreen

}


img {
    height: 200px;
}


nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:orangered;
}


nav a {
    color: aliceblue;
    text-decoration: none;
}


footer {
    background-color: greenyellow;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}
